<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>WorkTime</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
<div align="center">
    <div class="container">
        <p>
            <h1>WorkTime App</h1>
        </p>
    </div>

    <div class="container">
        <a href="/registerEmployee">Register Employee</a> <br>
        <a href="/register">Work time set</a> <br>
        <a href="/showTimeForm">Show work time</a> <br>
    </div>
</div>
</body>
</html>